@using TravelTripProject.Models.Siniflar
@model List<Hakkimizda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>

            @foreach (var item in Model)
            {
                <img src="@item.hakkimizdaFotoUrl" alt="" />
                <p>
                    @item.hakkimizdaAciklama
                </p>
            }


        </div>
    </div>
</div>

